<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="personal.config">
    <add key="BOT_BROWSER" value="FIREFOX" />
    <add key="BOT_HEADLESS" value="true" />
    <add key="BOT_RETRY_TIME" value="15" />

	<add key="BOT_SKIP" value="0" />
	<add key="BOT_TAKE" value="50"/>
  </appSettings>
</configuration>